.box1{
    background-color: red;
}
.box2{
    background-color: yellow;
}
.box3{
    background-color: green;
}
.box4{
    background-color: blue;
}
.box5{
    background-color: grey;
}
.box6{
    background-color:purple;
}
.container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}
